@using RepoJZ
@model OpretAnnonceVm
@{
    ViewBag.Title = "OpretAnnonce";
    Layout = "~/Areas/Firm/Views/Shared/_FirmLayout.cshtml";
}
<script>
    //function GetErfType(id) {
    //    console.log(id);
       
    //}
    function getval(sel) {
        alert(sel.value);
        
        $.ajax({
            type: 'Get',
            url: 'http://localhost:17821/api/App/GetErfType/' + sel.value + '/',
            success: function (data) {
                $('select#underKategori').empty();
                $.each(data, function (i, Erhvervtype) {
                    consolo.log(Erhvervtype);
                    //$('select#underKategori').append('<option value="' + Erhvervtype.ID + '">' + Erhvervtype.Navn + '</option>');
                    // console.log(ErfatingType.Navn + ' : ' + ErfatingType.Beskrivelse);
                });
            },
            error: function (data) {
                alert("GetErfType() - Det duer ikke!");
            }
        });
    }
</script>

<div class="row OpretAnnoncePOS">




    <div class="col-md-4 col-lg-offset-3 col-md-offset-5">
        <h2>Opret ny annonce</h2>

    </div>


    <form action="/Firm/Firm/OpretAnnonce" method="post" enctype="multipart/form-data" id="contactFrm" name="contactFrm">
        <div class="col-lg-3 col-md-5 col-lg-offset-3 col-md-offset-5">
            <div class="form_main">
                <div class="form">
                    <select name="stilling" onchange="getval(this)" class="form-control txtSelect">
                        <option value="" disabled selected>Stilling</option>
                        @foreach (var a in Model.Erhvervkat)
                        {
                            <option  value="@a.ID">@a.Navn</option>
                        }
                    </select>
                    <div id="kategori"></div>
                        
                    
                        
                        
                        
                    
                    <select name="jobtype" class="form-control txtSelect">
                        <option value="" disabled selected>Jobtype</option>
                        @foreach (var a in Model.Jobtype)
                        {
                            <option value="@a.ID">@a.Navn</option>

                        }
                    </select>
                    <select name="Alder" class="form-control txtSelect">
                        <option value="" disabled selected>Alder</option>
                        @foreach (var a in Model.Alder)
                        {
                            <option value="@a.ID">@a.Alder</option>

                        }
                    </select>
                    <input type="text" placeholder="Overskrift" value="" name="overskrift" class="txt">
                    <textarea class="form-control" rows="10" id="comment" placeholder="Detaljeret jobbeskrivelse..."></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-lg-offset-1 col-md-offset-5">
            <table>
                <tr>
                    <td><h4>Job start:</h4></td>
                    <td><input type="checkbox" name="name" value="" /> Snarest</td>
                    <td><input type="date" /></td>
                </tr>
                <tr>
                    <td><h4>Job slut:</h4></td>
                    <td><input type="checkbox" name="name" value="" /> Ubegrænset</td>
                    <td><input type="date" /></td>
                </tr>
            </table>
            <!--Job start: <input type="checkbox" name="name" value=""/> Snarest <input type="date"/>
            <br/>
            Job slut: <input type="checkbox" name="name" value=""/> Ubegrænset <input type="date"/>-->
            <p>
                <label for="amount">Timer om ugen:</label>
                <input type="text" id="amount">
                <input type="hidden" name="min"/>
                <input type="hidden" name="max" />
            </p>

            <div id="slider-range"></div>


            <div id="myDIV" class="header">
                <h4>Opgaver</h4>
                <input type="text" id="myInput" class="inputToDo" placeholder="Titel...">
                <span onclick="myInput()" class="addBtn">Tilføj</span>
            </div>

            <div class="ToDoList">

                <ul id="myUL"></ul>
            </div>

            <div id="myDIV" class="header">
                <h4>Kompetencer</h4>
                <input type="text" id="myKOMInput" class="inputToDo" placeholder="Titel...">
                <span onclick="myKOMInput()" class="addBtn">Tilføj</span>
            </div>

            <div class="ToDoList">

                <ul id="myKOM"></ul>
            </div>

            <div id="myDIV" class="header">
                <h4>Vi tilbyder</h4>
                <input type="text" id="myVIInput" class="inputToDo" placeholder="Titel...">
                <span onclick="myVIInput()" class="addBtn">Tilføj</span>
            </div>

            <div class="ToDoList">

                <ul id="myVI"></ul>
            </div>

            @ViewBag.MSG
            <input type="submit" value="Opret annonce" name="submit" class="txt2 pull-right">
        </div>
    </form>


</div>
<script>

    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 1,
            max: 37,
            values: [8, 15],
            slide: function (event, ui) {
                $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                $("[name=min]").val(ui.values[0]);
                $("[name=max]").val(ui.values[1]);
            }
        });
        $("#amount").val($("#slider-range").slider("values", 0) +
            " - " + $("#slider-range").slider("values", 1));
        $("[name=min]").val($("#slider-range").slider("values", 0));
        $("[name=max]").val($("#slider-range").slider("values", 1));
    });
    //OPGAVER
    // Create a "close" button and append it to each list item
    var myNodelist = document.getElementsByClassName("ToDo");
    var i;
    for (i = 0; i < myNodelist.length; i++) {
        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        myNodelist[i].appendChild(span);
    }

    // Click on a close button to hide the current list item
    var close = document.getElementsByClassName("close");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.display = "none";
        }
    }

    // Create a new list item when clicking on the "Add" button
    function myInput() {
        var li = document.createElement("li");
        li.className = "ToDo";
        var inputValue = document.getElementById("myInput").value;
        var t = document.createTextNode(inputValue);
        li.appendChild(t);
        if (inputValue === '') {
            alert("Du skal skrive en opgavetitel!");
        } else {
            document.getElementById("myUL").appendChild(li);
        }
        document.getElementById("myInput").value = "";

        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        li.appendChild(span);

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.display = "none";
            }
        }
    }

    //KOMPETENCER
    // Create a "close" button and append it to each list item
    var myNodelist = document.getElementsByClassName("ToDoKOM");
    var i;
    for (i = 0; i < myNodelist.length; i++) {
        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        myNodelist[i].appendChild(span);
    }

    // Click on a close button to hide the current list item
    var close = document.getElementsByClassName("close");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.display = "none";
        }
    }

    // Create a new list item when clicking on the "Add" button
    function myKOMInput() {
        var li = document.createElement("li");
        li.className = "ToDoKOM";
        var inputValue = document.getElementById("myKOMInput").value;
        var t = document.createTextNode(inputValue);
        li.appendChild(t);
        if (inputValue === '') {
            alert("Du skal skrive en opgavetitel!");
        } else {
            document.getElementById("myKOM").appendChild(li);
        }
        document.getElementById("myKOMInput").value = "";

        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        li.appendChild(span);

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.display = "none";
            }
        }
    }



    //VI TILBYDER
    // Create a "close" button and append it to each list item
    var myNodelist = document.getElementsByClassName("ToDoVI");
    var i;
    for (i = 0; i < myNodelist.length; i++) {
        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        myNodelist[i].appendChild(span);
    }

    // Click on a close button to hide the current list item
    var close = document.getElementsByClassName("close");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.display = "none";
        }
    }

    // Create a new list item when clicking on the "Add" button
    function myVIInput() {
        var li = document.createElement("li");
        li.className = "ToDo";
        var inputValue = document.getElementById("myVIInput").value;
        var t = document.createTextNode(inputValue);
        li.appendChild(t);
        if (inputValue === '') {
            alert("Du skal skrive en opgavetitel!");
        } else {
            document.getElementById("myVI").appendChild(li);
        }
        document.getElementById("myVIInput").value = "";

        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        li.appendChild(span);

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.display = "none";
            }
        }
    }

</script>